## misc editor backups and tmp files
*~
*.save
*.swp

## build foo
/debian/paintitblack-*/
/paintitblack/
/debian/patience-*/
/patience/

## generated debian files
debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.log
/debian/*.substvars

