## misc editor backups and tmp files
*~
*.save
*.swp

## build foo
/debian/paintitblack-*/
/deban/patience-*/

## generated debian files
/debian/debhelper-build-stamp
/debian/files
/debian/*.log
/debian/*.substvars
